/npserver
/npserver-daemon
/npanalyse

*sublime*
*.mprof

/gopath/pkg
/gopath/bin

/npserver.pid
/npserver.socket

# emacs backups
*~

.DS_Store

*.rice-box.go

.idea

test.txt


michael@nulpunt

.idea

