<h3>Edit metadata</h3>

<div ng-show="done" class="alert alert-success" >
	<strong>Done!</strong><br/>
</div>

<div ng-show="error" class="alert alert-danger" >
	<strong>Oops!</strong><br/>
	{{error}}
</div>

<div>
	<form ng-submit="submit()" role="form" class="form-horizontal">
		<div class="form-group">
			<label class="col-md-2 control-label">Uploaded by</label>
			<div class="col-md-10">
				<p class="form-control-static">{{document.Uploader}}</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Upload date</label>
			<div class="col-md-10">
				<p class="form-control-static">{{document.UploadedDate | date:'longDate'}}</p>
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-md-2 control-label">Title</label>
			<div class="col-md-10">
				<input type="text" class="form-control" id="title" placeholder="Title" required ng-model="document.Title">
			</div>
		</div>
		<div class="form-group">
			<label for="summary" class="col-md-2 control-label">Summary</label>
			<div class="col-md-10">
				<textarea class="form-control" id="summary" placeholder="Summary" ng-model="document.Summary"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="source" class="col-md-2 control-label">Source</label>
			<div class="col-md-10">
				<input type="text" class="form-control" id="source" placeholder="Source" required ng-model="document.Source">
			</div>
		</div>

		<div class="form-group">
			<label for="source" class="col-md-2 control-label">Country</label>
			<div class="col-md-10">
				<input type="text" class="form-control" id="source" placeholder="Source" required ng-model="document.Country">
			</div>
		</div>

		<div class="form-group">
			<label for="source" class="col-md-2 control-label">Wobber (Freedom of Information Act Requester) (Person)</label>
			<div class="col-md-10">
				<input type="text" class="form-control" id="source" placeholder="Source" required ng-model="document.FOIRequester">
			</div>
		</div>

		<div class="form-group">
			<label for="source" class="col-md-2 control-label">Wob-verzoek (Freedom of Information Act Request)</label>
			<div class="col-md-10">
				<input type="text" class="form-control" id="source" placeholder="Source" required ng-model="document.FOIARequest">
			</div>
		</div>


		<div class="form-group">
			<label for="originalDate" class="col-md-2 control-label">Document date</label>
			<div class="col-md-10">
				<input type="text" class="form-control" id="originalDate" placeholder="dd-mm-yyyy" required ng-change="change()" ng-model="OriginalDateString">
				<span class="help-block">Format: dd-mm-yyyy. (NOTE: Currently the date should be typed manually! Otherwise it isn't saved...)</span>
			</div>
		</div>
		<div class="form-group">
			<label for="language" class="col-md-2 control-label">Language</label>
			<div class="col-md-10">
				<select id="language" class="form-control" ng-model="document.Language">
					<option value="nl_NL">Dutch</option>
					<option value="en_EN">English</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="category" class="col-md-2 control-label">Category</label>
			<div class="col-md-10">
				<input type="text" class="form-control" id="category" placeholder="Category" required ng-model="document.Category">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Tags</label>
			<div class="col-md-10" ng-controller="AdminTagsCtrl">
				<div class="checkbox" ng-repeat="tag in tags">
					<label>
					  	<input type="checkbox" checklist-model="document.Tags" checklist-value="tag.Tag"> {{tag.Tag}}
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
		    <div class="col-md-offset-2 col-md-10">
		      	<button type="submit" class="btn btn-default">Save</button>
		    </div>
		</div>
	</form>
</div>

<div ng-show="done" class="alert alert-success" >
	<strong>Done!</strong><br/>
</div>

<div ng-show="error" class="alert alert-danger" >
	<strong>Oops!</strong><br/>
	{{error}}
</div>
