<h3>Available Tags</h3>

<div class="clearfix">
	<ul>
		<li class="np-document-tag" ng-repeat="tag in tags">{{tag.Tag}} <span class="glyphicon glyphicon-remove glyphicon-delete-button" ng-click="delete_tag(tag.Tag)"></span></li>
	</ul>
</div>

<div ng-show="error" class="alert alert-danger" >
	<strong>{{ error }}</strong><br/>
</div>

<div>
	<h3>Add a new tag</h3>
	<form ng-submit="add_tag()" role="form" >
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="addTag" class="col-lg-2 control-label" >Tag</label>
					<input type="text" class="form-control" id="addTag" placeholder="Tag" required ng-model="tag" >
				</div>
				<div class="form-group">
					<button type="button" ng-click="add_tag()" class="btn btn-default">Add</button>
				</div>
			</div>
		</div>
	</form>
</div>