<div class="masthead documents">
	<div class="container">
		<div class="metadata-doc">
			<div class="row">
        	<h1>Your Bookmarks</h1>
	        	<div class="doc-tag-row">
					<p class="intro">Here are your bookmarks</p>
				</div>
    		</div>
		</div>
	</div>
	<div class="subnav">
		<div class="masthead-bottom">
			<div class="container">
				<div class="row">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1></h1>
		</div>
	</div>
	<div ng-repeat="document in bookmarks" class="row np-row np-document" ng-class-even="'np-row-even'">
		<div class="col-lg-8">

			<h2><a href="/#/document/{{ document.ID }}">{{ document.Title }}</a> - <small>  {{ document.Category }}</small></h2>
			<div class="document-description-taglist">
				<p>{{document.Summary}}</p>
			</div>
			<div class="document-metadata">
				<span class="source">Source: {{document.Source}} on {{document.OriginalDate | date:'dd MMMM yyyy, hh:mm'}} ({{ document.Country }})</span>
				<span class="upload">Uploaded on <strong>{{document.UploadDate | date:'dd MMMM yyyy, hh:mm'}}</strong> by <span style="color:{{document.UploaderUsername.Color}}">@</span><span>{{document.UploaderUsername}}</span></span>
				<!-- <span class="language">Language: {{ document.Language }}</span> -->
			</div>
			<div class="tags-metadata">
				<span ng-repeat="tag in document.Tags.sort()" class="np-document-tag"><span class="glyphicon glyphicon-tag"></span> {{ tag }}</span>
			</div>
		</div>
	</div> <!-- ng-repeat documents in bookmarks -->
</div>


