<style>
	body {
		background-color:#EEE;
	}

	.masthead {
		background-color:#FFF;
	}

	.navbar {
		background-color:#000;
	}

	.np-logo-image {
		fill:#FFF;
	}

	.np-logo-text-background {
		fill:#FF0;
	}

	.np-logo-text {
		fill:#000;
	}

	#np-footer {
		border-top: 1px solid #DDD;
	}

	.pageView { 
		position: relative;
		display: table;
	}

	/*character position css*/
	.charpos {
		/*position: absolute;*/
		display: inline;
		font-weight: bold;
		color: rgba(0,0,0,0);
	}
	.charpos::selection {
		background: rgba(255 ,255, 255, 0); /* No colour selection for now */
		}
	.charpos::-moz-selection {
		background: rgba(255,255,255,0); /* No colour selection for now */
	}

	/*canvas css*/
	#pageBox {
		position: relative;
	}
	#cvPage {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.highlight {
		position: absolute;
	}

	.annotation {
		background-color: white;
		padding: 10px;
		margin: 20px;
		display: block;
	}

	.author-box {
		width: 100%;
		height: 36px;
		margin-bottom: 5px;
	}

	.author-thumbnail {
		width: 36px;
		height: 36px;
		float: left;
		margin-right: 5px;
	}

	.author-box p {
		margin: 0;
	}

	.author-name {
		font-size: 14px;
		font-weight: bold;
	}

	.annotation-date {
		font-size: 10px;
	}

	.comment {
		background-color: #EEE;
		display: block;
		margin-left: 20px;
		margin-right: 20px;
	}

	.btn-add-annotation {
		position: absolute;
		z-index: 500;
		background-color: black;
	}

</style>

<div class="masthead document-viewer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h1>{{ document.Title }}</h1>
				<div class="document-metadata">
					<span class="source">Source: {{document.Source}}  ({{ document.Country }}) on <strong>{{document.OriginalDate | date:'dd MMMM yyyy, hh:mm'}}</strong></span>
					<span class="upload">Uploaded on <strong>{{document.UploadDate | date:'dd MMMM yyyy, hh:mm'}}</strong> by <span class="uploader">{{document.UploaderUsername}}</span></span>
					<span class="request" ng-show="item.requester">Requested by: {{document.FOIRequester }}</span>
					<div class="tags-metadata">
						<span ng-repeat="tag in document.Tags.sort()" class="np-document-tag"><span class="glyphicon glyphicon-tag"></span> {{ tag }}</span>
					</div>
				</div>
			</div><!-- col-lg-6 -->
			<div class="col-lg-6">
				<ul class="nav nav-pills pull-right">
					<li><a ng-href="https://twitter.com/share?url={{twitter.url | urlencode}}&text={{twitter.text | urlencode}}&hashtags=nulpunt" class="btn btn-default" data-lang="en" target="_blank" ><i class="fa fa-twitter"></i> Tweet this document</a></li>
					<li><a class="btn btn-default" ng-href="/download-original/{{document.ID}}/{{document.UploadFilename}}" target="_blank"><i class="fa fa-download"></i> Download original</a></li>
					<li><a class="btn btn-default" href="/#/documents/">More documents</a></li>
				</ul>
			</div>
		</div> <!-- row -->
	</div> <!-- container -->
</div> <!-- masthead document-viewer -->

<div class="container document-viewer">
	<!-- <div ng-repeat="page in pages" > -->

	<div class="row" style="text-align: center;">

		<!-- Show the login button if not signed in -->
		<div ng-show="account.username" >
			Highlight the document to create an annotation.
		</div>

		<div ng-hide="account.username" >
			<!-- we have a highlight but no auth, let user auth -->
			You need to log in before you can add an Annotation. <a class="btn" ng-click="showLogin()">Sign in</a>
		</div> <!-- ng-hide="account.username" -->
	</div>


	<div class="row">
		<div class="pageView col-lg-7">
			<!-- display current page number -->
			<div class="row">
				<h5 class="pull-left">Page {{ currentPage.number }}</h5>
			</div>

			<!-- page navigation -->
			<div class="row">
				<a class="btn btn-xs col-lg-2" ng-click="prevPage()"><span class="glyphicon glyphicon-chevron-left"></span> Previous page</a>
				<div class="col-lg-4 col-lg-offset-2">
					<div style="float: left;" ><input ng-model="currentPage.number" type="number" class="form-control np-document-viewer-pagination" /></div>
					<div style="float: left; margin-left: 8px;" >of {{document.PageCount}}</div>
				</div>
				<a class="btn btn-xs col-lg-2 col-lg-offset-2" ng-click="nextPage()">Next page <span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>

			<!-- page itself -->
			<div class="row main pageWrapper">
				<div id="pageBox" >
					<div ng-show="highlight.yMax && account.username" class="btn btn-add-annotation" style="top: {{highlight.yMax}}px; left: {{highlight.xMax}}px; " ng-click="addAnnotation()"><span class="glyphicon glyphicon-plus"></span></div>
					<canvas id="cvPage" ></canvas>
					<img ng-src="/docfiles/pages/{{document.ID}}/{{currentPage.number}}.png" class="img-responsive" />
					<span id="highlights">
					  <!-- this span gets these canvases, one for each annotation on this page -->
					  <!-- <canvas id="{annotation.ID}" class="highlight highlight-transparency" style="background-color: green; width:200px; height:20px; top: 50px; left: 100px; "></canvas> -->
					</span>
				</div>
				<!-- <div id="lines" class="selectable" >
					<div class="line" ng-repeat="line in currentPage.data.Lines">
						<div ng-repeat="character in line"
								class="charpos charpos-{{character.C}}" style="bottom: {{character.Y1}}%; left: {{character.X1}}%;"
								>{{character.C}}</div>
					</div>
				</div> -->
			</div>

			<!-- page navigation -->
			<div class="row">
				<a class="btn btn-xs col-lg-2" ng-click="prevPage()"><span class="glyphicon glyphicon-chevron-left"></span> Previous page</a>
				<div class="col-lg-4 col-lg-offset-2">
					<div style="float: left;" ><input ng-model="currentPage.number" type="number" class="form-control np-document-viewer-pagination" /></div>
					<div style="float: left; margin-left: 8px;" >of {{document.PageCount}}</div>
				</div>
				<a class="btn btn-xs col-lg-2 col-lg-offset-2" ng-click="nextPage()">Next page <span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>


		</div> <!-- pageView -->

		<div class="annotationView col-lg-5">

			<h3>Annotations</h3>
			<div  ng-repeat="annotation in annotationsOnPage(currentPage.number)">
			  <span class="annotation">
				<!-- <p class="np-document-description">{{ annotation.Annotation }}</p> -->
				<div class="author-box">
					<div class="author-thumbnail" style="background-color:{{ annotation.Color}}"></div>
					<p class="author-name"><span style="color:{{ annotation.Color }}">@</span> {{ annotation.AnnotatorUsername }}<br><p>
					<p class="annotation-date">{{annotation.CreateDate | date:'dd MMMM yyyy, HH:mm'}}</p>
				</div>
				<!-- Use these coordinates to aling the annotation to the highlight --> 
				<!-- <p>Coordinates: {{ annotation.Locations }}</p> -->
				<p><strong><span class="highlight-transparency">{{ annotation.AnnotationText }}</span></strong></p>

				<div  ng-repeat="comment in annotation.Comments">
				  <span class="comment">
					<p>Comment by: {{ comment.CommenterUsername }}</p>
					<p>Date: {{ comment.CreateDate | date:'dd MMMM yyyy, HH:m' }}</p>				
					<p><strong><span class="highlight-transparency" style="background-color:{{ comment.Color }}">{{ comment.CommentText }}</span></strong></p>
					</span>
				</div>

				<!-- Show the login button if not signed in -->
				<div ng-hide="account.username">
					You need to log in before you can post comments. 
					<span ng-hide="showLoginForm2" class="btn btn-default" ng-click="showLogin()">Sign In</span>
			  	</div> <!-- ng-hide="account.username" -->

				<div ng-show="account.username">
					<!-- when logged, in, show the Comment-button -->
					<div ng-controller="CommentSubmitCtrl">
						<!-- when logged in and press the comment-button, show the form -->
						<div ng-hide="showForm" class="btn btn-default" ng-click="showForm=true">Add a Comment</div>
						<form ng_show="showForm" ng-submit="submit()" role="form" class="form-horizontal">
							<div class="form-group">
								<label class="col-md-2 control-label">Your comment</label>
								<div class="col-md-2">
									<textarea class="form-control" id="comment-text" placeholder="Comment text" ng-model="commentText"></textarea>
								</div>
						<!--	</div>
							<div class="form-group"> -->
								<div class="col-md-offset-2 col-md-2">
									<button type="submit" class="btn btn-default">Publish</button>
								</div>
							</div>
						</form>
					</div> <!-- CommentSubmitCtrl -->
				</div> <!-- ng_show="account.username -->
				</span>
			</div> <!-- annotation in annotations -->
			<br><hr>

			<!-- Show the login button if not signed in -->
			<div ng-hide="account.username">
				You need to log in before you can post comments. 
		  	</div> <!-- ng-hide="account.username" -->

			<div ng-show="account.username">
				<!-- when logged, in, show the Comment-button -->
				<div ng-controller="CommentSubmitCtrl">
					<!-- when logged in and press the comment-button, show the form -->
					<div ng-hide="showForm" class="btn btn-default" ng-click="showForm=true">Add a Comment</div>
					<form ng_show="showForm" ng-submit="submit()" role="form" class="form-horizontal">
						<div class="form-group">
							<label class="col-md-2 control-label">Your comment</label>
							<div class="col-md-2">
								<textarea class="form-control" id="comment-text" placeholder="Comment text" ng-model="commentText"></textarea>
							</div>
					<!--	</div>
						<div class="form-group"> -->
							<div class="col-md-offset-2 col-md-2">
								<button type="submit" class="btn btn-default">Publish</button>
							</div>
						</div>
					</form>
				</div> <!-- CommentSubmitCtrl -->
			</div> <!-- ng_show="account.username -->
			</span>
		</div> <!-- annotation in annotations -->
		<br><hr>

	</div><!-- row -->
</div><!-- container -->

<script>
	// Disable image dragging, interferes with selection etc
	$('img').mousedown(function(){return false});
</script>
