<style>
	body {
		background-color:#EEE;
	}
	#np-footer {
		border-top: 1px solid #DDD;
	}

	.pageView { 
		position: relative;
		display: table;
		background-color: #EEE;
		padding: 10px 25px;
		border: 1px solid #AAA;
		border-radius: 2px;
		overflow: hidden;
	}

	.sticky {
		position: fixed;
		top: 0;
	}

	/*character position css*/
	.charpos {
		/*position: absolute;*/
		display: inline;
		font-weight: bold;
		color: rgba(0,0,0,0);
	}
	.charpos::selection {
		background: rgba(255 ,255, 255, 0); /* No colour selection for now */
		}
	.charpos::-moz-selection {
		background: rgba(255,255,255,0); /* No colour selection for now */
	}

	/*canvas css*/
	#pageBox {
		position: relative;
	}

	#cvPage {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		cursor: crosshair;
	}
	.highlight {
		position: absolute;
	}

	.annotation {
		background-color: #FFF;
		border: 1px solid #AAA;
		border-radius: 2px;
		padding: 10px;
		margin: 20px 0px;
	}

	.author-box {
		width: 100%;
		height: 36px;
		margin-bottom: 5px;
	}

	.author-thumbnail {
		width: 36px;
		height: 36px;
		float: left;
		margin-right: 5px;
	}

	.author-box p {
		margin: 0;
	}

	.author-name {
		font-size: 14px;
		font-weight: bold;
	}

	.author-date {
		font-size: 10px;
	}

	.comment {
		background-color: #FFF;
		padding: 10px;
		display: block;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 10px;
	}

	.comment p {
		margin-bottom: 0;
	}

	.btn-add-annotation {
		position: absolute;
		z-index: 500;
		background-color: black;
	}

	.active-highlight {
		box-shadow: 0px 2px 15px #666666; 
	}

</style>

<div class="masthead document-viewer"> 
	<div class="container">
		<div class="metadata-doc">
			<div class="row">
				<div class="col-lg-7">
					<div class="row">
						<h1>{{ document.Title }}</h1>
					</div>
					<div class="row col-leftedge">
						<div class="col-lg-6 document-description">{{item.Document.Summary}}</div>
						<div class="col-lg-6">
							<div class="document-metadata">
								<span class="date-document-source">Date: <strong>{{document.OriginalDate | date:'dd MMMM yyyy, hh:mm'}}</strong></span>
								<span class="source">Source: {{document.Source}},  ({{ document.Country }}) </span>
								<span class="upload">Uploaded on <strong>{{document.UploadDate | date:'dd MMMM yyyy, hh:mm'}}</strong></span>
								<span class="uploader">Uploaded by <span style="color:{{ document.UploaderUsername.Color }}">@</span><strong>{{document.UploaderUsername}}</strong></span>
								<span class="request" ng-show="item.requester">Requested by: {{document.FOIRequester }}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-lg-offset-1">
					<div class="annotator-metadata">
						<div>
							Annotating this document
						</div>
						<div>
							<span class="author-name" ng-repeat="annotation in annotationsOnPage(currentPage.number)"><span style="color:{{ annotation.Color }}">@</span>{{ annotation.AnnotatorUsername }} </span>
						</div>
					</div>
					<div class="tags-metadata">
						<div>
							Tags
						</div>
						<div>
							<span ng-repeat="tag in document.Tags.sort()" class="np-document-tag-small"><span class="glyphicon glyphicon-tag"></span> {{ tag }}</span>
						</div>
					</div>
				</div>

			</div><!-- col-lg-6 -->
			<div class="col-lg-6">
				<!--<div class="dropdown">
					<a data-toggle="dropdown btn btn-default">Amplify <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<a ng-href="https://twitter.com/share?url={{twitter.url | urlencode}}&text={{twitter.text | urlencode}}&hashtags=nulpunt" class="btn btn-default" data-lang="en" target="_blank" ><i class="fa fa-twitter"></i> Tweet this document</a>
					</ul>
				</div>-->
			</div>
		</div>
	</div> <!-- container -->
	<div class="subnav">
		<div class="masthead-bottom">
			<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="row">
						<a class="btn col-lg-2" ng-click="prevPage()"><span class="glyphicon glyphicon-chevron-left"></span> Previous page</a>
						<div class="col-lg-4 col-lg-offset-3 pagenumber-position">
							<div style="float: left;">Page </div>
							<div style="float: left; margin-left: 10px;"><input ng-model="currentPage.number" class="form-control np-document-viewer-pagination" /></div>
							<div style="float: left; margin-left: 10px;"> of {{document.PageCount}}</div>
						</div>
						<a class="btn col-lg-2 col-lg-offset-1" ng-click="nextPage()">Next page <span class="glyphicon glyphicon-chevron-right"></span></a>
					</div> 
				</div>
				<div class="col-lg-4 col-lg-offset-1">
					<!--<div class="dropdown">
						<a data-toggle="dropdown btn btn-default">Amplify <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<a ng-href="https://twitter.com/share?url={{twitter.url | urlencode}}&text={{twitter.text | urlencode}}&hashtags=nulpunt" class="btn btn-default" data-lang="en" target="_blank" ><i class="fa fa-twitter"></i> Tweet this document</a>
						</ul>
					</div>-->
					<ul class="nav nav-pills">
						<li class="dropdown">
					        <a id="drop4" class="btn btn-dropdown" role="button" data-toggle="dropdown"><span class="glyphicon glyphicon-flash"></span> Amplify <b class="caret"></b></a>
					        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
	                            <li role="presentation" class="dropdown-header">Amplify through:</li>
	                            <li role="presentation" class="divider"></li>
	                            <li role="presentation"><a ng-click="shareDiaspora()" href="" class="amplify-item">Diaspora</a></li>
	                            <li role="presentation"><a ng-click="shareGooglePlus()" href="" class="amplify-item">Google+</a></li>
	                            <li role="presentation"><a ng-click="shareLinkedIn()" href="" class="amplify-item">LinkedIn</a></li>
	                            <li role="presentation"><a ng-click="shareReddit()" href="" class="amplify-item">Reddit</a></li>
					            <li role="presentation"><a ng-click="shareTwitter()" href="" class="amplify-item">Twitter</a></li>
	                            <li role="presentation"><a ng-click="shareVK()" href="" class="amplify-item">VK</a></li>
					        </ul>
					      </li>
						<li><a class="btn" ng-href="/download-original/{{document.ID}}/{{document.UploadFilename}}" target="_blank"><i class="fa fa-download"></i> Download original</a></li>
						<li><a class="btn" href="/#/documents/">More documents</a></li>
					</ul>
				</div>
			</div>
		</div> <!-- container -->
		</div>
	</div>
</div> <!-- masthead document-viewer -->

<div class="container document-viewer">
	<!-- <div ng-repeat="page in pages" > -->
	<div class="row">
		<div class="pageView col-lg-7 stick-to-top">
						<!-- page itself -->
			<div class="row main pageWrapper">
				<div id="pageBox" >
					<div ng-show="highlight.yMax && account.username" id="annotation-add-btn" class="btn btn-add-annotation" style="top: {{highlight.yMax}}px; left: {{highlight.xMax}}px; " ng-click="addAnnotation()"><span class="glyphicon glyphicon-plus"></span></div>
					<canvas ng-show="account.username" id="cvPage" ></canvas>
					<img ng-src="/docfiles/pages/{{document.ID}}/{{currentPage.number}}.png" class="img-responsive" />
					<span id="highlights">
						<!-- this span gets these canvases, one for each annotation on this page -->
						<!-- <canvas id="{annotation.ID}" class="highlight highlight-transparency" style="background-color: green; width:200px; height:20px; top: 50px; left: 100px; "></canvas> -->
						<span ng-repeat="annotation in annotationsOnPage(currentPage.number)">
							<canvas ng-repeat="location in annotation.Locations" 
								ng-show"location.PageNumber == currentPage.number"
								ng-mouseover="activateHighlight(annotation.ID)"
								ng-mouseout="deactivateHighlight()"
								class="highlight highlight-transparency"
								style="background-color: {{annotation.Color}}; 
									left: {{location.X1}}%; 
									top: {{location.Y1}}%; 
									width: {{location.X2 - location.X1}}%; 
									height: {{location.Y2 - location.Y1}}%;"
								id="{{annotation.ID}}">
							</canvas>
						</span>
					</span>
				</div>
				<!-- <div id="lines" class="selectable" >
					<div class="line" ng-repeat="line in currentPage.data.Lines">
						<div ng-repeat="character in line"
								class="charpos charpos-{{character.C}}" style="bottom: {{character.Y1}}%; left: {{character.X1}}%;"
								>{{character.C}}</div>
					</div>
				</div> -->
			</div>
		</div> <!-- pageView -->

		<div class="col-lg-4 col-lg-offset-1">
			<div>
			<h3>Annotations</h3>
				<div class="annotate-alert">
						<div ng-hide="account.username" >
							<!-- we have a highlight but no auth, let user auth -->
							To annotate or comment, please sign in first. <a class="btn annotateview-signin" ng-click="loginFactory.showLogin()">Sign in</a>
						</div> <!-- ng-hide="account.username" -->
				</div>
				<p ng-show="account.username">Highlight the document to create an annotation.</p>
			</div>
			<div class="annotationView">
				<div id="annotation_{{annotation.ID}}" class="annotation" ng-repeat="annotation in annotationsOnPage(currentPage.number)" ng-mouseover="activateHighlight(annotation.ID)" ng-mouseleave="deactivateHighlight()">
					<!-- <p class="np-document-description">{{ annotation.Annotation }}</p> -->
					<div class="author-box">
						<div class="author-thumbnail" style="background-color:{{ annotation.Color}}"></div>
						<p class="author-name"><span style="color:{{ annotation.Color }}">@</span> {{ annotation.AnnotatorUsername }}<br><p>
						<p class="author-date">{{annotation.CreateDate | date:'dd MMMM yyyy, HH:mm'}}</p>
					</div>
					<!-- Use these coordinates to aling the annotation to the highlight --> 
					<!-- <p>Coordinates: {{ annotation.Locations }}</p> -->
					<p>{{ annotation.AnnotationText }}</p>
	
					<div ng-repeat="comment in annotation.Comments">
						<span class="comment">
							<div class="author-box">
								<div class="author-thumbnail" style="background-color:{{ comment.Color}}"></div>
								<p class="author-name"><span style="color:{{ comment.Color }}">@</span> {{ comment.CommenterUsername }}<br><p>
								<p class="author-date">{{comment.CreateDate | date:'dd MMMM yyyy, HH:mm'}}</p>
							</div>
							<p>{{ comment.CommentText }}</p>
						</span>
					</div>
					
					<div ng-show="account.username">
						<!-- TODO: Always show the Comment-button, but if the user is not logged in,
						prompt the log in modal with an explanatory message -->
						<div ng-controller="CommentSubmitCtrl">
							<!-- when logged in and press the comment-button, show the form -->
							<div ng-hide="showForm" class="btn" ng-click="showForm=true">Add a Comment</div>
							<form ng-show="showForm" ng-submit="submit()" role="form" class="form-horizontal">
								<div class="form-group">
									<div class="col-md-9">
										<textarea class="form-control" id="comment-text" placeholder="Comment text" ng-model="commentText"></textarea>
									</div>
							
									<div class="col-md-3">
										<button type="submit" class="btn">Publish</button>
									</div>
								</div>
							</form>
						</div> <!-- CommentSubmitCtrl -->
					</div> <!-- ng_show="account.username -->
				</div> <!-- annotation in annotations -->
			</div>
		</div> <!-- annotation in annotations -->
		<br><hr>

	</div><!-- row -->
</div><!-- container -->

<script>
	// Disable image dragging, interferes with selection etc
	$('img').mousedown(function(){return false});

	// Ugly hack to allow mouse events from highlights to access the 'activateHighlight' logic
	function microappscope(){
    	return angular.element($("#pageBox")).scope();
	}
</script>
