<h1>Inbox</h1>

<div ng-repeat="document in documents" class="row np-row np-document" ng-class-even="'np-row-even'">
	<div class="col-sm-1">
	<h5>Stats</h5>
		<p><span class="glyphicon glyphicon-align-justify"></span> {{ document.nrOfAnnotations }}</p> <!-- annotations -->
		<!--<p><span class="glyphicon glyphicon-pencil"></span> {{ document.nrOfDrafts }}</p> --><!-- drafts --> 
		<p><span class="glyphicon glyphicon-list-alt"></span> {{ document.nrOfComments }}</p> <!-- comments -->
		<!--<p><span class="glyphicon glyphicon-star-empty"></span> {{ document.nrOfBookmarks }}</p>--> <!-- bookmarks -->
	</div>
	<div class="col-sm-8">
		<h2>{{ document.Title }}</h2>
		<p class="np-document-description">{{ document.Summary }}</p>
		<p><strong>Source:</strong> {{ document.Source }}</p>
		<p><strong>Source date:</strong> {{ document.OriginalDate }}</p>
		<p><strong>Upload data:</strong> {{ document.UploadDate }}</p>
		<p><strong>Uploader:</strong> {{ document.Uploader }}</p>
		<span ng-repeat="tag in document.Tags" class="np-document-tag">{{ tag }}</span>
	</div>
	<div class="col-sm-3">
	  <a href="/#/document/{{ document.ID }}">Open document</a>
	  <!-- <button type="button" class="btn btn-black np-open-document">Open document...</button> -->
	</div>
</div>
