<div class="container register-page">
	<div ng-show="done" class="alert" >
		<h1>Welcome to 0.</h1><br/>
		Your account '{{username}}' was successfully registered.<br/>
		You can now sign in to annotate and comment <a class="btn annotateview-signin" ng-click="loginFactory.showLogin()">Sign in</a>
		<!--  You can now sign in. -->
	</div>

	<div ng-show="error" class="alert alert-error" >
		<h1>Sorry, something went wrong.</h1><br/>
		Please refresh the page.<br/>
		{{error}}
	</div>

	<div ng-hide="done||error" >
		<h1 class="uppercase signup-h1">Sign up for 0.</h1>
		<p>Congratulations for making the first step toward a democracy without secrets.</p>
		<div class="signup-form">
			<form ng-submit="submit()" role="form" class="form-horizontal">
			<div class="form-group">
				<div class="col-md-6">
					<label for="registerUsername" class="control-label sr-only" >Choose a Username</label>
					<input type="text" class="form-control" id="registerUsername" placeholder="Choose a Username" required ng-model="username" >
				</div>

				<div class="col-md-offset-5 col-md-1">
					<img src="img/register4.png">
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-6">
					<label for="registerEmail" class="control-label sr-only" >Enter your E-mail</label>
					<input type="text" class="form-control" id="registerEmail" placeholder="E-mail" ng-model="email" >
				</div>

				<div class="col-md-offset-5 col-md-1">
					<img src="img/register3.png">
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-6">
					<label for="registerPassword" class="control-label sr-only" >Choose a Password</label>
					<input type="password" class="form-control" id="registerPassword" placeholder="Choose a Password" required ng-model="password" >
					<br />
					<label for="registerPasswordRepeat" class="control-label sr-only">Verify your Password</label>
					<input type="password" class="form-control" id="registerPasswordRepeat" placeholder="Verify your Password" required ng-model="passwordRepeat" >
				</div>
				<div class="col-md-4">
					<div class="help-form">You cannot change your password once you created it. Nor can we retrieve the password in case you forget it. The reason for this is that 0. saves your password by encrypting it on the server. See <a href="/#/about">About</a> for more information.</div>
				</div>
				<div class="col-md-offset-1 col-md-1">
					<img src="img/register2.png">
				</div>
			</div>
			<div class="form-group signup-color-selection">
				<div class="col-md-2">
					<label for="color" class="control-label sr-only" >Choose a Color</label>
					<input type="text" id="colorSelector" class="form-control demo" data-inline="true" value="#4fc8db" placeholder="Choose a Color" ng-model="color">
				</div>
				<div class=" col-md-3">
					<div class="color-preview" style="display:block; background-color:{{ color }}">
						This is how your text selection will look. Choose wisely.
					</div>
				</div>
				<div class="col-md-offset-1 col-md-4">
					<div class="help-form">Use the selector to choose your highlighting color. This color will be used to highlight your annotations within documents.</div>
				</div>
				<div class="col-md-offset-1 col-md-1">
					<img src="img/register1.png">
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-6 signup-create-account-btn">
					<button type="submit" class="btn btn-default btn-block btn-lg">Create an account</button>
				</div>
				<div class="col-md-offset-5 col-md-1">
					<img src="img/register0.png">
				</div>
			</div>
		</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	$.minicolors.defaults = $.extend($.minicolors.defaults, {
		changeDelay: 200,
		theme: 'bootstrap',
		control: 'brightness',
		inline: 'true'
	});
	$('#colorSelector').minicolors();
</script>

