<div class="container register-page">
	<div ng-show="done" class="alert" >
		<h1>Welcome to 0.</h1><br/>
		Your account '{{username}}' was successfully registered.<br/>
		You can now sign in and annotate and comment on documents in 0.<a class="btn uppercase annotateview-signin" ng-click="loginFactory.showLogin()">Sign in</a>
		<!--  You can now sign in. -->
	</div>

	<div ng-show="error" class="alert alert-error" >
		<h1>Sorry, something went wrong.</h1><br/>
		Please refresh the page.<br/>
		{{error}}
	</div>

	<div ng-hide="done||error" >
		<div class="row">
			<div class="col-lg-10 col-md-10">
				<h1 class="uppercase signup-h1">Sign up for 0.</h1>
				<!--<p>Congratulations for making the first step toward a democracy without secrets.</p>-->
				<div class="signup-form">
					<form ng-submit="submit()" role="form" class="form-horizontal">
						<div class="form-group">
							<div class="col-lg-6 col-md-6">
								<label for="registerUsername" class="control-label sr-only" >Choose a Username</label>
								<input type="text" class="form-control" id="registerUsername" placeholder="Choose a Username" required ng-model="username" >
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-6 col-md-6">
								<label for="registerEmail" class="control-label sr-only" >Enter your E-mail</label>
								<input type="text" class="form-control" id="registerEmail" placeholder="E-mail" ng-model="email" >
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-6 col-md-6">
								<label for="registerPassword" class="control-label sr-only" >Choose a Password</label>
								<input type="password" class="form-control" id="registerPassword" placeholder="Choose a Password" required ng-model="password" >
								<br />
								<label for="registerPasswordRepeat" class="control-label sr-only">Verify your Password</label>
								<input type="password" class="form-control" id="registerPasswordRepeat" placeholder="Verify your Password" required ng-model="passwordRepeat" >
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="help-form">Please choose your password wisely. Because 0. uses client side encryption we cannot offer password retrieval in the case you forget your password. For more information see <a href="/#/about">About</a></div>
							</div>
						</div>
						<div class="form-group signup-color-selection">
							<div class="col-lg-2 col-md-2">
								<label for="color" class="control-label sr-only" >Choose a Color</label>
								<input type="text" id="colorSelector" class="form-control demo" data-inline="true" value="#4fc8db" placeholder="Choose a Color" ng-model="color">
							</div>
							<div class=" col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 extend">
								<div class="color-preview" style="display:block; background-color:{{ color }}">
									This is how your text selection will look. 
								</div>
							</div>
							<div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4">
								<div class="help-form">Select your highlighting color. This color will be used to highlight your selections within documents. The color cannot be changed once chosen.</div>
							</div>
			
						</div>
						<div class="col-lg-9 col-md-9">
							<div class="form-group">
				                <h3>Subscribe to topics of your interest.</h3> <!--help-form??-->
				                <p>Select topics of your interest. Documents corresponding to these topics will be gathered in your inbox.</p>
				            </div>
							
				            <div class="form-group">
				            	<div class="row">
					                <div class="col-lg-8 col-md-8" ng-controller="TagCloudCtrl">
					                    <ul class="list-unstyled">
					                        <li class="np-document-tag" ng-class="isSelectedTag(selectedTags, tag.Tag)" ng-repeat="tag in tags">
					                            <div class="TagSearchButton"  ng-click="toggleTag(selectedTags, tag.Tag)">
					                                <span class="glyphicon glyphicon-tag"></span> {{tag.Tag}}
					                            </div>
					                        </li>
					                    </ul>
					                </div>
					            </div>
				            </div>
							<div class="form-group">
								<div class="col-lg-6 col-md-6 extend signup-create-account-btn">
									<button type="submit" class="btn btn-default btn-block btn-lg uppercase">Create account</button>
								</div>
							</div>
						</div>
			           
					</form>
				</div>
			</div>
			<div class="col-lg-2 col-md-2">
				<div class="register-countdown">
					<img src="img/register5.png">
				</div>
				<div class="register-countdown">
					<img src="img/register4.png">
				</div>
				<div class="register-countdown">
					<img src="img/register3.png">
				</div>
				<div class="register-countdown">
					<img src="img/register2.png">
				</div>
				<div class="register-countdown">
					<img src="img/register1.png">
				</div>
				<div class="register-countdown">
					<img src="img/register0.png">
				</div>
			</div>
		</div>
		

	</div>
</div>
<script type="text/javascript">
	$.minicolors.defaults = $.extend($.minicolors.defaults, {
		changeDelay: 200,
		theme: 'bootstrap',
		control: 'brightness',
		inline: 'true'
	});
	$('#colorSelector').minicolors();
</script>

