<h1>Document: {{ document.Title }}</h1>

<style>
	html {
		-webkit-touch-callout: none;
		-webkit-user-select: none;  /* Chrome all / Safari all */
		-khtml-user-select: none;
		-moz-user-select: none;     /* Firefox all */
		-ms-user-select: none;      /* IE 10+ */

		/* No support for these yet, use at own risk */
		-o-user-select: none;
		user-select: none;     
	}

	.selectable, .selectable div {
		-webkit-touch-callout: all;
		-webkit-user-select: all;
		-khtml-user-select: all;
		-moz-user-select: all;
		-ms-user-select: all;
		-o-user-select: all;
		user-select: all;
	}

	.pageView { 
		position: relative;
		display: table;
	}
	.charpos {
		position: absolute;
		display: inline;
		font-weight: bold;
		color: rgba(0,0,0,0);
	}
	.charpos::selection {
		background: rgba(255,255,0,0.5); 
		}
	.charpos::-moz-selection {
		background: rgba(255,255,0,0.5);
	}
	/*.character {
		padding-left: 20px;
	}
	.character::selection {
		background: rgba(255,255,0,0.5); 
	}
	.character::-moz-selection {
		background: rgba(255,255,0,0.5); 
	}*/
	/*.imageBox {
		width: 1000px;
	}*/
</style>

<div>
	<h2>{{ document.Title }}</h2>
	<p class="np-document-description">{{ document.Summary }}</p>
	<p><strong>Source:</strong> {{ document.Source }}</p>
	<p><strong>Source date:</strong> {{ document.OriginalDate }}</p>
	<p><strong>Upload data:</strong> {{ document.UploadDate }}</p>
	<p><strong>Uploader:</strong> {{ document.UploaderUsername }}</p>
	<span ng-repeat="tag in document.Tags" class="np-document-tag">{{ tag }}</span>
	<hr/>
	<a class="btn" ng-click="prevPage()">Previous page</a>
	<input ng-model="currentPage.number" type="number" /> / {{document.PageCount}}
	<a class="btn" ng-click="nextPage()">Next page</a>

	<!-- <div ng-repeat="page in pages" > -->
	<h3>Page {{ currentPage.number }}</h3>
	<div class="pageView">
		<div class="imageBox"  >
			<img ng-src="/docfiles/pages/{{document.ID}}/{{currentPage.number}}.png" />
		</div>
		<div id="lines" class="selectable" >
			<div class="line" ng-repeat="line in currentPage.data.Lines">
				<div ng-repeat="character in line"
						class="charpos charpos-{{character.C}}" style="bottom: {{character.Y1}}%; left: {{character.X1}}%;"
						>{{character.C}}</div>
			</div>
		</div>
	</div>
	
	<div ng-repeat="annotation in annotations">
		<h3>Annotation on this page</h3>
		<p class="np-document-description">{{ annotation.Annotation }}</p>
		<p><strong>By:</strong> {{ annotation.AnnotatorUsername }}</p>
		<p><strong>Date:</strong> {{ annotation.CreateDate }}</p>
		<p><strong>Coordinates:</strong> {{ annotation.Locations }}</p>

		<div ng-repeat="comment in annotation.Comments">
			<h4>Comment</h4>
			<p class="np-document-description">{{ comment.CommentText }}</p>
			<p><strong>By:</strong> {{ comment.CommenterUsername }}</p>
			<p><strong>Date:</strong> {{ comment.CreateDate }}</p>
			<p><strong>Threaded comments:</strong> {{ comment.Comments }}</p>
		</div> <!-- repeat comments in annotation -->

		<h5>Add a comment (non threaded)</h5>
		  
		<div ng-controller="CommentSubmitCtrl">
			<form ng-submit="submit()" role="form" class="form-horizontal">
				<div class="form-group">
					<label class="col-md-2 control-label">Your comment on these visions please</label>
					<div class="col-md-10">
						<textarea class="form-control" id="comment-text" placeholder="Comment text" ng-model="commentText"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button type="submit" class="btn btn-default">Publish</button>
					</div>
				</div>
			</form>
		</div>
		<br><hr>
		
		<p>Here you can create an annotation... 
		<br>This is the interface we need.
		<br>Someone might want to rewrite it with a nice pointy-clicky user interface. It should give the coordinates:
		<br> ng-model="locations" value: { [ { PageNumber, x1, y1, x2, y2 }, ... ] } . We allow for multiple coordinates. These should be used when a single rectancle won't fit. For example when the selection starts indented. Or when an quote spans page boundaries. (future version).
		<br>The server will add Annotator (username) and date-created.</p>
		
		<div ng-controller="AnnotationSubmitCtrl">
			<form ng-submit="submit()" role="form" class="form-horizontal">
				<input type="hidden" ng-model="locations" value="{ [{ 1, 10, 20, 100, 40 }] }">
				<div class="form-group">
					<label class="col-md-2 control-label">Your visions please</label>
					<div class="col-md-10">
						<textarea class="form-control" id="annotation-text" placeholder="Annotation text" ng-model="annotationText"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button type="submit" class="btn btn-default">Publish</button>
					</div>
				</div>
			</form>
		</div>

	</div><!-- ng-repeat="annotation in annotations" -->
</div>
