<style>

	body {
		background-color:#EEE;
	}

	.masthead {
		background-color:#FFF;
	}

	.navbar {
		background-color:#000;
	}

	#np-logo path {
		fill:white;
	}

	#np-footer {
		border-top: 1px solid #DDD;
	}

	html {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;

		/* No support for these yet, use at own risk */
		-o-user-select: none;
		user-select: none;
	}

	.selectable, .selectable div {
		-webkit-touch-callout: all;
		-webkit-user-select: all;
		-khtml-user-select: all;
		-moz-user-select: all;
		-ms-user-select: all;
		-o-user-select: all;
		user-select: all;
	}

	.pageView { 
		position: relative;
		display: table;
	}
	.charpos {
		position: absolute;
		display: inline;
		font-weight: bold;
		color: rgba(0,0,0,0);
	}
	.charpos::selection {
		background: rgba(255 ,255, 255, 0); /* No colour selection for now */
		}
	.charpos::-moz-selection {
		background: rgba(255,255,255,0); /* No colour selection for now */
	}
</style>

<div class="masthead">
	<div class="container">
		<div class="row">
		  	<div class="col-lg-6">
		  		<h1>{{ document.Title }}</h1>
		  		<div class="document-metadata">
					<span class="source">Source: {{document.Source}}  ({{ document.Country }}) on <strong>{{document.OriginalDate | date:'dd MMMM yyyy, hh:mm'}</strong></span>
					<span class="upload">Uploaded on <strong>{{document.UploadDate | date:'dd MMMM yyyy, hh:mm'}</strong> by <span class="uploader">{{document.UploaderUsername}}</span></span>
					<span class="request" ng-show="item.requester">Requested by: {{document.FOIRequester }}</span>
					<div class="tags-metadata">
						<span ng-repeat="tag in document.Tags" class="np-document-tag"><span class="glyphicon glyphicon-tag"></span> {{ tag }}</span>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<a class="btn pull-right" href="/#/documents/">More documents</a>
				<a ng-href="https://twitter.com/share?url={{twitter.url | urlencode}}&text={{twitter.text | urlencode}}&hashtags=nulpunt" 
			class="custom-tweet-button" data-lang="en" target="_blank" >Tweet about this document</a>
				<h1></h1>
			</div>
		</div>
	</div>
</div>

<div class="container document-viewer">
	<!-- <div ng-repeat="page in pages" > -->
	<div class="row">
		<div class="pageView col-lg-8">
			<div class="row">
				<h4>Page {{ currentPage.number }}</h4>
			
				<div class="pull-right">
					<a class="btn btn-sm" ng-click="prevPage()">Previous page</a>
					<input ng-model="currentPage.number" type="number" width="4" /> of {{document.PageCount}}
					<a class="btn btn-sm" ng-click="nextPage()">Next page</a>
				</div>
			</div>
			<div class="row">
				<div class="imageBox" >
					<img ng-src="/docfiles/pages/{{document.ID}}/{{currentPage.number}}.png" class="img-responsive" />
				</div>
				<div id="lines" class="selectable" >
					<div class="line" ng-repeat="line in currentPage.data.Lines">
						<div ng-repeat="character in line"
								class="charpos charpos-{{character.C}}" style="bottom: {{character.Y1}}%; left: {{character.X1}}%;"
								>{{character.C}}</div>
					</div>
				</div>
			</div>
			<div class="row pull-right">
					<a class="btn btn-sm" ng-click="prevPage()">Previous page</a>
					<input ng-model="currentPage.number" type="number" size="4" /> of {{document.PageCount}}
					<a class="btn btn-sm" ng-click="nextPage()">Next page</a>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="annotations-placeholder"></div>
		</div>
	</div>

       <a ng-href="https://twitter.com/share?url={{twitter.url | urlencode}}&text={{twitter.text | urlencode}}&hashtags=nulpunt" 
                       class="custom-tweet-button" data-lang="en" target="_blank" >Tweet</a>
	
	<div ng-repeat="annotation in annotations">
		<h3>Annotation on this page</h3>
		<p class="np-document-description">{{ annotation.Annotation }}</p>
		<p><strong>By:</strong> {{ annotation.AnnotatorUsername }}</p>
		<p><strong>Date:</strong> {{annotation.annotationDate | date:'dd MMMM yyyy, hh:mm'}</p>
		<p><strong>Coordinates:</strong> {{ annotation.Locations }}</p>

		<div ng-repeat="comment in annotation.Comments">
			<h4>Comment</h4>
			<p class="np-document-description">{{ comment.CommentText }}</p>
			<p><strong>By:</strong> {{ comment.CommenterUsername }}</p>
			<p><strong>Date:</strong> {{ comment.CreateDate }}</p>
			<p><strong>Threaded comments:</strong> {{ comment.Comments }}</p>
		</div> <!-- repeat comments in annotation -->

		<h5>Add a comment (non threaded)</h5>

		<div ng-controller="CommentSubmitCtrl">
			<form ng-submit="submit()" role="form" class="form-horizontal">
				<div class="form-group">
					<label class="col-md-2 control-label">Your comment on these visions please</label>
					<div class="col-md-10">
						<textarea class="form-control" id="comment-text" placeholder="Comment text" ng-model="commentText"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button type="submit" class="btn btn-default">Publish</button>
					</div>
				</div>
			</form>
		</div>
		<br><hr>

		<p>Here you can create an annotation... 
		<br>This is the interface we need.
		<br>Someone might want to rewrite it with a nice pointy-clicky user interface. It should give the coordinates:
		<br> ng-model="locations" value: { [ { PageNumber, x1, y1, x2, y2 }, ... ] } . We allow for multiple coordinates. These should be used when a single rectancle won't fit. For example when the selection starts indented. Or when an quote spans page boundaries. (future version).
		<br>The server will add Annotator (username) and date-created.</p>

		<div ng-controller="AnnotationSubmitCtrl">
			<form ng-submit="submit()" role="form" class="form-horizontal">
				<input type="hidden" ng-model="locations" value="{ [{ 1, 10, 20, 100, 40 }] }">
				<div class="form-group">
					<label class="col-md-2 control-label">Your visions please</label>
					<div class="col-md-10">
						<textarea class="form-control" id="annotation-text" placeholder="Annotation text" ng-model="annotationText"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button type="submit" class="btn btn-default">Publish</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div> <!-- container -->
