<h1>Trending documents</h1>
<p>Based on the amount of .... in the last .... hours/days</p>

<div ng-repeat="item in documents.items" class="row np-row np-document" ng-class-even="'np-row-even'">
	<div class="col-sm-1">
	<h5>Stats</h5>
		<p><span class="glyphicon glyphicon-align-justify"></span> {{item.nrOfAnnotations}}</p> <!-- annotations -->
		<p><span class="glyphicon glyphicon-pencil"></span> {{item.nrOfDrafts}}</p> <!-- drafts -->
		<p><span class="glyphicon glyphicon-list-alt"></span> {{item.nrOfComments}}</p> <!-- comments -->
		<p><span class="glyphicon glyphicon-star-empty"></span> {{item.nrOfBookmarks}}</p> <!-- bookmarks -->
	</div>
	<div class="col-sm-8">
		<h2>{{item.title}}</h2>
		<p class="np-document-description">{{item.description}}</p>
		<p><strong>Source:</strong> {{item.source}}</p>
		<p><strong>Source date:</strong> {{item.sourceDate}}</p>
		<p><strong>Upload data:</strong> {{item.uploadDate}}</p>
		<p><strong>Uploader:</strong> {{item.uploader}}</p>
		<span ng-repeat="tag in item.tags" class="np-document-tag">{{tag.title}}</span>
	</div>
	<div class="col-sm-3">
		<button type="button" class="btn btn-black np-open-document">Open document...</button>
	</div>
</div>