<!doctype html>
<html ng-app="nulpunt" >
	<head>
		<title>Nulpunt</title>

		<link href="css/bootstrap.min.css" rel="stylesheet" >
		<link href="css/nulpunt.css" rel="stylesheet" >
	</head>
	<body ng-controller="MainCtrl" >

		<nav class="navbar navbar-default navbar-static-top" role="navigation" ng-controller="NavbarCtrl">
			<!-- brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/#/">0.</a>
			</div>

			<!-- collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
				<ul class="nav navbar-nav">
					<!-- <li ng-class="{active: loc=='overview'}" ><a href="/#/">0.</a></li> -->
					<li ng-show="account.username" ><a href="/#/inbox">Inbox</a></li> <!-- active class deprecated? -->
					<li ng-show="account.username" ><a href="/#/history">History</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" ng-hide="account.username">
					<li><a href="/#/sign-in">Sign in</a></li>
					<li><a href="/#/register">Register</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" ng-show="account.username">
					<li><a href="/#/messages"><span class="glyphicon glyphicon-comment" ></span> Messages (6)</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-cog"></span> Admin
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a ng-href="/#/upload"><span class="glyphicon glyphicon-file" ></span> Upload documents</a></li>
							<li><a href="/#/process"><span class="glyphicon glyphicon-asterisk" ></span> Process</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle np-nav-account-logo" data-toggle="dropdown">
							<img ng-src="https://secure.gravatar.com/avatar/{{gravatarHash}}?s=40" width="40px" height="40px" />
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a ng-href="/#/profile/{{account.username}}"><span class="glyphicon glyphicon-user" ></span> Profile</a></li>
							<li><a href="/#/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
							<li><a href="/#/sign-out"><span class="glyphicon glyphicon-off"></span> Sign out</a></li>
						</ul>
					</li>
				</ul>
				<div class="col-sm-3 col-md-3 pull-right">
					<form class="navbar-form navbar-right" role="search">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search" ng-model="searchValue">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
							</div>
						</div>
					</form>
				</div>
			</div><!-- /.navbar-collapse -->
		</nav>


		<!-- location for the view to load (see ngRoute) -->		
		<div ng-view class="container" ></div>



		<!-- jQuery -->
		<script src="js/jquery.min.js" ></script>
		
		<!-- official ng core+modules -->
		<script src="js/angular.min.js" ></script>
		<script src="js/angular-route.min.js" ></script>
		<script src="js/angular-animate.min.js" ></script>
		<script src="js/angular-file-upload.min.js" ></script>


		<!-- third party ng modules -->
		<script src="js/angular-ui-bootstrap-0.6.0-tpls.min.js" ></script>
		<script src="js/ngStorage.js" ></script>
		
		<!-- underscore, for work with datasets -->
		<script src="js/underscore.min.js" ></script>

		<!-- CryptoJS -->
		<script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script> <!-- TODO: make this a local file -->

		<!-- nulpunt -->
		<script src="js/nulpunt.js" ></script>
		<script src="js/nulpunt-ClientSessionService.js" ></script>
		<script src="js/nulpunt-AccountAuthService.js" ></script>
		<script src="js/nulpunt-AccountDataService.js" ></script>
	</body>
</html>