body, html {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #EEE;
}

strong {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

/*always display scrollbar*/
html {
	overflow-y: scroll;
}

/*disable selection by default*/
html {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
}
/*explicit enabled for text selection*/
.selectable, .selectable div {
	-webkit-touch-callout: all;
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	-o-user-select: all;
	user-select: all;
}

/*anchor styles*/
a:link, a:visited, a:active {
	   color: ;
	   text-decoration: none;
}
a{
	color:#333;
}
a:hover {
	color:#999;
}

/*heading styles*/
h1 {
	font-size: 30px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	line-height: 1;
	/*text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);*/
	letter-spacing: -0.03em;
}

h1, h2 {
	margin-top: 0px;
	margin-bottom: 20px;
}

h3 {
	margin-top: 0px;
	margin-bottom: 10px;
}

/*bootstrap overrides*/
.container { 
		padding-left: 0;
		padding-right: 0;
}

.row-padding-bottom {
	padding-bottom: 20px;
}
.row-padding-top {
	padding-top: 20px; 
}

/*annotation and document related styles*/
.annotation {
		background-color: #FFF;
		padding: 14px;
		font-size: 12px; 
		overflow: hidden;
}
.annotateview-signin {
margin-bottom: 4px;
}

.utilities ul li {
		color: #bfbfbf;font-size: 13px;
}
.utilities .glyphicon {
		font-size: 1.35em;line-height: 1;
}

.source, .upload, .request, .uploader, .date-document-source, .annotator-metadata, .tags-metadata {
		display: block;
		font-size: 12px;
		line-height:14px;
}

.label-default {
		margin-right: 4px;
		background-color: #333;
		font-size: 65%;
}

.document-type {
	background:#EEE;
	color:#222;
}

.annotator {
		font-weight: bold;
}
.label {
		font-weight: normal !important;
}
.intro {
	font-size: 16px;
	color: #888;
	line-height: 24px;
}

.navbar {
	margin-bottom:0px;
	border: 0px !important;
}
.col-leftedge{
	margin-left: -30px;
}

.navbar-brand {	
		padding: 5px 15px;
		height:50px;
}
.navbar-brand-small{
	padding: 5px;
	height: 20px;
}
.navbar .btn {
	margin-top: 8px;
}

.fixed {
	position: fixed !important;
	width: 100%;
	top: 0px;
}
.fixed-subnav {
	position: fixed !important;
	width: 100%;
	background-color: #FFF;
	top:50px;
	z-index: 100;
}

.fixed-docview{
	position: fixed !important;
	width: 100%;
	height: 500px;
	background-color: #FFF;
	top:100px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-top: 100px;
}
.masthead {
        background: #FFF;
        z-index: 1020;
        margin: 50px 0 15px 0;
}
.metadata-doc{
	margin: 20px 0;
}
.annotator-metadata{
	margin-bottom: 20px;
}
.annotate-alert{
	margin-top: -5px;
}
.annotationView {
	border-top: 1px solid #AAA;
	margin: 5px 0;
	overflow-x: hidden;
	overflow-y: hidden;
}
.masthead-bottom{
	    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        padding: 10px 0px;
}
.nav>li>a {
	position: relative;
	display: block;
	padding: 5px 10px;
	margin-left: 5px;
}

.navbar-static-top {
        /*-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);*/
        margin-bottom: 0px;
        z-index: 1050;
        background-color: white;
}
.navbar-line{
	    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.document-description{
	margin-top: -10px;
}
.document-description-taglist{
	margin-top: 0px;
}
.document-description:empty, .annotator-metadata:empty, .tags-metadata:empty{
	display: none;
}
.document h3 {
	font:14px Arial,sans-serif;font-weight: bold;
}
.utilities {
	padding: 0 14px;
}

.tags-metadata  {
	margin-top: 12px;
}

/* old to delete */
.np-nav-account-logo {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.np-main-content {
	padding-bottom: 50px;
	background-color: #EEE;
	margin-top: 50px;
}

div.np-tagline {
	background-color: #000;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	height: 35px;
}
div.np-tagline p {
	color: #ffffff;
	padding: 10px;
	text-align: center;
}

.np-row {
	background-color: #f2f0f2;
	padding: 10px 20px;
	margin-left: -15px;
	margin-right: -15px;
}

.np-row-even {
	background-color: #ffffff;
}

.np-document h2 {
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.np-document p {
	margin-top: 0px;
	margin-bottom: 0px;
}
.np-document p strong {
	width: 150px;
	text-align: right;
}
.np-document p.np-document-description {
	margin-bottom: 5px;
	font-size: 12px;
	font-style: italic;
}
.np-document-tag {
	display: block;
	float: left;
	padding: 3px 5px;
	background-color: #333;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 4px;
	color: #FFF;
}
.np-document-tag-small {
	display: block;
	float: left;
	padding: 2px 5px;
	background-color: #000;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	color: #FFF;
	font-size: 10px;
	letter-spacing: 0.5px;
}
.np-open-document {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

.np-notification-time {
	font-size: 11px;
	text-align: right;
	display: inline-block;
	width: 125px;
	padding-right: 20px;
}

.np-remove-padding-lr {
	padding-left: 0;
	padding-right: 0;
}
.nav-pills {
margin-left: -6px;
}

.nav-tabs {
	padding-left: 15px;
	padding-right: 15px;
}
.nav-tabs > li.np-tab-right {
	float: right;
}

.nav-tabs > li > a {
	color: #555;
	background-color: #f1f0f1;
	border-color:#eee #eee #ddd;
}

.nav-tabs > li > a:hover {
	background-color: #d1d0d2;
}

.btn-black {
  color: #ffffff;
  background-color: #333;
}
.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active {
  color: #dddddd;
}

.glyphicon-delete-button {
	color: #aaaaaa;
	cursor: pointer;
	cursor: hand;
}
.glyphicon-delete-button:hover {
	color: #666666;
}

#np-wrap {
  /*min-height: 100%;*/
  height: auto;
  margin: 0 auto;
  padding: 0;
}

#np-footer {
  height: 25px;
  background-image:none;
  background-color:#FCFCFC;
  border:0;
  border-radius:0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.np-selected {
	background-color:#FFF;
	color:#333;
	-webkit-box-shadow: -1px -1px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: -1px -1px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: -1px -1px 1px 1px rgba(0, 0, 0, 0.1);
}

.np-notselected {
	background-color:#333;
	color:#FFF;
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

ul.features {
	padding-top: 0px;
	font-size: 16px;
    line-height:24px;
}

.btn, .btn-primary, .btn-warning {
	background:#000;
	color:#FFF !important;
	-webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
    border: 0;
    border-color: #000;
    border-radius:3px;
    text-shadow:none;
    padding: 5px 10px;
    font-size: 12px;
}
.nav-pills>li>a {
border-radius: 3px;
}

.nav > li > a:hover,
.btn:hover {
	background:#222;
	color:#FFF;
}

/* DROPDOWN MENU == amplify == */
.nav .open .btn-dropdown {
	background-color: #333;
	border-color: #333;
}
.nav .open a.btn-dropdown:hover {
	background-color: #222;
	border-color: #333;
}
.btn-dropdown .caret,
.nav a.btn-dropdown:hover .caret {
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}
.nav .open .dropdown-menu li a.amplify-item:hover {
	color: black;
}

.form-control {
	height:40px;
	border:0;
	-webkit-box-shadow: -1px -1px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: -1px -1px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: -1px -1px 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	padding: 3px 6px;
	font-size: 12px;
}
.form-control:focus{
	border-color: #FFF;
	-webkit-box-shadow: -1px -1px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: -1px -1px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: -1px -1px 1px 1px rgba(0, 0, 0, 0.1);
}

.form-group {
	margin-top: 10px;
	margin-bottom: 10px;
}


.TagSearchButton {
	cursor: pointer;
}

.imageBox {
	margin-bottom:15px;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

a.custom-tweet-button {
	display: block;
	padding: 2px 5px 2px 20px;
	background: url('//img/twitter.ico') 1px center no-repeat;
	border: 1px solid #ccc;
}

.masthead.document-viewer {
}
.container.document-viewer.ng-scope {
	margin-top: 0px;
	margin-bottom: 60px;
}

/* footer styling */
div.np-tagline p {
	color: #ffffff;
	padding-top: 5px;
	text-align: center;
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: 100;
}
#np-footer .navbar-nav>li>a {
	font-size: 8pt;
	padding: 3px 25px;
}

.pagenumber-position {
margin-top: 6px;
font-size: 10pt;
}

.np-document-viewer-pagination {
	font-size:12px;
	height:auto;
	padding:1px 5px;
	line-height:1.5;
	width: 3em;
	border-radius: 2px;
}

.np-logo-small {
	height: 19px;
	margin: 3px 20px;
}
.np-logo-text-background {
	fill:#FF0;
}

.highlight-transparency {
	zoom: 1;
	filter: alpha(opacity=60);
	opacity: 0.6;
}

.about-nulpunt{
	padding: 30px 0 20px 0;
}

.uppercase {
	text-transform: uppercase;
}

.signup-text{
	margin-right: 20px;
}

.trending {
	padding-top: 10px;
}

.trending-item {
	margin-top: 20px;
	margin-bottom: 40px;
	margin-right: 0px;
}

.modal-dialog {
	padding-top: 15%;
}
body.modal-open {
	margin-right: 0px;
}
#nulpuntSUbox {
	display:inline;
}
.SUnewto{
	color:#a9a9a9;
	display:inline;
	padding-bottom:15px;
}
.dropdown-menu {
	font-size: 12px;
	border-radius: 3px;
	margin: 5px 0 0 5px;
	padding: 10px 4px;
}
.register-page {
padding-top: 50px;
}

.signup-h1{
	margin-bottom: 0px;
}
.signup-form{
	margin-left: 0px;
	margin-top: 50px;
}
.signup-color-selection{
	margin-top: 40px;
}
.signup-create-account-btn {
margin-top: 15px;
}
.alert-warning {
	color: #FFF;
	background-color: #000;
	border-color: #000;
	border: 0;
	border-radius: 3px;
}
.img-thumbnail {
	background-color:#DDD;
	min-height: 50px;
	width: auto;
	border-radius: 0px;
}
.doc-tag-row {
margin-bottom: -40px;
}
small {
	font-weight: 400;
	color: #888;
	letter-spacing: 0.2px;
	font-size: 12px;
}
.paddingAfterLogin{
	padding-top: 25px;
}
