body, html {
		font-family: Arial, sans-serif;
	    line-height:18px;
	    height:100%;
}
a:link, a:visited, a:active {
	   color: #000;
	   text-decoration: none;
}
a:hover {
	   color: #000;
	   text-decoration: underline;
}
h1 {
		font-size: 28px;
}
.container { 
		padding-left: 0;
		padding-right: 0;
}
.annotation {
		background-color: #f7f7f7;
		padding: 14px 14px 0 14px;
		font-size: 12px; 
}
.trending-columns {
		border-top: 1px solid #dedede;
}
.utilities ul li {
		color: #bfbfbf;font-size: 13px;
}
.utilities .glyphicon {
		font-size: 1.35em;line-height: 1;
}
.source, .upload, .request {
		display: block;
		font-size: 11px;
}
.annotation, .tags {
		margin-top: 10px;
}
.label {
		margin-right: 4px;
		background-color: #000;
}
.annotator {
		font-weight: bold;
}
.label {
		font-weight: normal !important;
}
p.intro {
		font-size: 14px;
}
.navbar-brand {	
		padding: 10px 15px;
}
.masthead {
        background: #eee;
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        margin-bottom: 0px;
        z-index: 1020;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 15px;
}
.navbar-static-top {
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        margin-bottom: 0px;
        z-index: 1050;
}
.document h3 {
	font:14px Arial,sans-serif;font-weight: bold;
}
.utilities {
	padding: 0 14px;
}
footer {
	text-align: center;
}
      
/* old to delete */
.np-nav-account-logo {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.np-main-content {
	border-left: 1px solid #dadadc;
	border-right: 1px solid #dadadc;
	border-bottom: 1px solid #dadadc;
	margin-bottom: 15px;
	padding: 10px 15px;
}

div.np-tagline {
	background-color: #000000;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
div.np-tagline p {
	color: #ffffff;
	padding: 5px;
	text-align: center;
}

.np-row {
	background-color: #f2f0f2;
	padding: 10px 20px;
	margin-left: -15px;
	margin-right: -15px;
}

.np-row-even {
	background-color: #ffffff;
}

.np-document h2 {
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.np-document p {
	margin-top: 0px;
	margin-bottom: 0px;
}
.np-document p strong {
	width: 150px;
	text-align: right;
}
.np-document p.np-document-description {
	margin-bottom: 5px;
	font-size: 12px;
	font-style: italic;
}
.np-document-tag {
	display: block;
	float: left;
	padding: 3px 5px;
	background-color: #d9d9d9;
	margin-top: 5px;
	margin-right: 10px;
	border: 1px solid #a09ea2;
	border-radius: 4px;
}
.np-open-document {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

.np-notification-time {
	font-size: 11px;
	text-align: right;
	display: inline-block;
	width: 125px;
	padding-right: 20px;
}

.np-remove-padding-lr {
	padding-left: 0;
	padding-right: 0;
}

.nav-tabs {
	padding-left: 15px;
	padding-right: 15px;
}
.nav-tabs > li.np-tab-right {
	float: right;
}

.nav-tabs > li > a {
	color: #555;
	background-color: #f1f0f1;
	border-color:#eee #eee #ddd;
}

.nav-tabs > li > a:hover {
	background-color: #d1d0d2;
}

.btn-black {
  color: #ffffff;
  background-color: #000000;
}
.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active {
  color: #dddddd;
}

.glyphicon-delete-button {
	color: #aaaaaa;
	cursor: pointer;
	cursor: hand;
}
.glyphicon-delete-button:hover {
	color: #666666;
}

#np-wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#np-footer {
  height: 60px;
  background-image:none;
  background-color:#eee;
  border:0;
  border-radius:0px;
}